<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,``" name="viewport" />
	<meta charset="utf-8" />
	<link rel="stylesheet" href="../static/index.css" />
	<script src="../static/jquery-3.3.1.js"></script>
	<script src="../static/layer-v3.1.1/layer/layer.js"></script>
	<script  src="../static/jquery/index.js"></script>
	<title>adressbook -by sxy</title>
</head>
<body>
	<ul>
		<li><a class="active" >Address book -by SXY</a></li>
		<li><a  class="home"href="/index/">Home</a></li>
	</ul>
	
	<div id="crud_table">
		<form method="POST"action="{% url 'search' %}">
		{% csrf_token %}
		<input id="search_btn"type="text" name="search"placeholder="在这里搜索..." />
		<select class="input" name="search_select">
			<option value="name">姓名</option>
			<option value="phone">电话</option>
			<option value="email">邮箱</option>
			<option value="address">住址</option>
			<option value="QQ">QQ</option>
			<option value="school">学校</option>
		</select>
		<input type ="submit" class="input"id="search_info" value="搜索"/>
		</form>
		<input type="button"class="input" name="add"id="add_info" value="添加" onclick="addInfo()"/>
	</div>
	<div class="info_bar">
		<table>
			<tr>
				<th>姓名</th>
				<th>电话</th>
				<th>邮箱</th>
				<th>住址</th>
				<th>QQ</th>
				<th>学校</th>
				<th>操作</th>
			</tr>
			 {%for person in personlist%}
			<tr>
				<td>{{person.name}}</th>
				<td>{{person.phoneNo}}</td>
				<td>{{person.email}}</td>
				<td>{{person.address}}</td>
				<td>{{person.qq}}</td>
				<td>{{person.school}}</td>
				<td>
					<strong><a href="#" id="deleteinfo" onclick="deleteInfo('{{person.name}}')" >删除</a></strong>
					<strong><a href="#"id="changeinfo" onclick="changeInfo({name:'{{person.name}}',
																			  phone:'{{person.phoneNo}}',
																			  email:'{{person.email}}',
																			  address:'{{person.address}}',
																			  qq:'{{person.qq}}',
																			  school:'{{person.school}}'
																			  }
																			  )" >修改</a></strong>
					</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>
